<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Search History</title>
    <style>
        body {
          background-color: {{ bg_color }};
        }
      </style>
  </head>
  <body style="background-color: {{ bg_color }};">
    <h1>Search History</h1>
    {% if history %}
      <form action="{{ url_for('download_history') }}" method="get">
        <button type="submit">Download Today's History</button>
      </form>
    {% else %}
      <p>No search history found.</p>
    {% endif %}
    <a href="{{ url_for('index') }}">Back to Home</a>
  </body>
</html>
